html {
	text-align: center;
	color: #00ff00;
	overflow-x: hidden;
}

#bg {
	position: fixed;
	inset: 0;
	margin: -8px;
	margin-top: -100px;
	z-index: -1;
	background-image: url("img/clock4.gif");
}

hr {
	border: 2px solid red;
}

.fucked_up {
}

#more_main {
	display: grid;
	grid-template-columns: 80% 20%;
	margin: 10px;
}

#main {
	display: grid;
	grid-template-columns: 60% 40%;
	background-color: black;
	padding: 20px;
	margin: 10px;
	margin-top: 0px;
	outline: 5px dashed blue;
	box-shadow: 30px 30px red;
}

#currencies {
	position: fixed;
	background-color: lime;
	border: 3px dotted brown;
	color: blue;
	top: 10px;
	left: 10px;
	font-size: 30px;
}

#currencies img {
	max-width: 30px;
}

.claim {
	background-color: black;
	color: white;
	padding: 5px;
	margin: 20px;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid gray;
	border-right: 10px solid gray;
}

.clock {
	background-color: lime;
	color: red;
	padding: 10px;
	margin: 10px;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid green;
	border-right: 10px solid green;
}

.clock p {
	font-family: monospace;
	background-color: black;
	color: green;
	font-size: 20px;
} 

#buy_box {
	display: grid;
	grid-template-columns: auto auto auto;
}

#converter {
	display: grid;
	grid-template-columns: auto auto;
}

#gem_box {
	background-color: magenta;
	color: white;
	padding: 10px;
	margin: 10px;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid purple;
	border-right: 10px solid purple;
}

#gem_box * {
	margin: auto;
}

#gem_shop {
	background-color: magenta;
	color: black;
	padding: 10px;
	margin: 10px;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid purple;
	border-right: 10px solid purple;
}

.upgrade {
	background-color: cyan;
	color: black;
	padding: 10px;
	margin: 10px;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid blue;
	border-right: 10px solid blue;
}

#coin_box {
	background-color: yellow;
	color: black;
	padding: 10px;
	margin: 10px;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid orange;
	border-right: 10px solid orange;
}

#coin_box * {
	margin: auto;
}

.buy {
	background-color: magenta;
	color: white;
	padding: 10px;
	margin: 10px;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid purple;
	border-right: 10px solid purple;
}

.tagline {
	font-size: 100px;
	color: red;
	background-color: pink;
	border-radius: 100%;
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-bottom: 10px solid black;
	border-right: 10px solid black;
}

.tooltip_haver .tooltip {
	visibility: hidden;
	background-color: white;
	color: black;
	position: absolute;
	margin-left: 100%;
	font-size: 20px;
	border: 10px solid black;
	z-index: 1;
}

.tooltip_haver:hover .tooltip {
	visibility: visible;
}

.ad {
	margin: 20px;
	max-width: 100%;
	cursor: pointer;
}

.explosion {
	position: fixed;
	max-width: 150px;
	z-index: 999;
	opacity: 0;
	transition: opacity 1s ease;
	pointer-events: none;
}
